@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<a class="btn btn-success" style="margin-bottom:10px;"
   onclick="PopupForm('@Url.Action("AddOrEdit","Default")')">
    <i class="fa fa-plus"></i> Add New
</a>
<table id="imageTable" class="table table-striped table-bordered" style="width:100%;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>ImagePath</th>
            <th></th>
        </tr>
    </thead>
</table>
@section scripts{
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#imageTable").DataTable({ // khởi tạo DataTable
                "ajax": {
                    "url": "/Default/ViewAll",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Id",
                        "width": "10px"
                    },
                    { "data": "Name" },
                    {
                        "data": "ImagePath",
                        "render": function (data) {
                            return "<img src='"+ data +"' width='100' height='100' />"
                        },
                        "orderable": false,
                        "width": "100px"
                    },
                    {
                        "data": "Id",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-sm' style='margin-right:5px;' onclick=PopupForm('@Url.Action("AddOrEdit","Default")/" + data + "')><i class='fa fa-pencil'></i> Edit</a>" +
                             "<a class='btn btn-danger btn-sm' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> Delete</a>"
                        },
                        "orderable": false,
                        "width":"135px"
                    },
                ],
                "order": [[0, "desc"]], // 0 là cột thứ 0 trong table
                "language": {
                    "emptyTable": "No data found, Please clock on <b>Add New</b> Button", // text nếu table rỗng
                    "lengthMenu": "Display _MENU_ records" // text ở show item table
                }
            });
        });

        function PopupForm(url) { // url đc truyền lúc onclick button ở html
            var formDiv = $('<div class="addofeditpop"></div>'); // Khởi tạo div chứa view ở url trên
            $.get(url)
            .done(function (response) { // response là view AddOrEdit
                formDiv.html(response); // nhét response vào div đc khởi tạo ở trên
                Popup = formDiv.dialog({ // dialog là control của jqueryUI
                    autoOpen: true,
                    resizeable: false,
                    title: 'Fill Employee Detals',
                    height: 500,
                    width: 500,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            })
        }

        function SubmitForm(form) {
            debugger;
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) { // check valid form bằng jquery validate
                var ajaxConfig = {
                    type: "POST",
                    url: form.action, // action của form
                    data: new FormData(form),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            });
                        }
                    }
                }
                if ($(form).attr('enctype') == "multipart/form-data") {
                    ajaxConfig["contentType"] = false;
                    ajaxConfig["processData"] = false;
                }
                $.ajax(ajaxConfig);
            }
            return false;
        }
        function Delete(id) { // id đc truyền lúc onclick button ở html
            if (confirm('Are you Sure to Delete this Employee Record?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Default")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            });
                        }
                    }
                })
            }
        }
        function ShowImagePreview(imageUploader, previewImage) {
            if (imageUploader.files && imageUploader.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(previewImage).attr('src', e.target.result)
                }
                reader.readAsDataURL(imageUploader.files[0]);
            }
        }
    </script>
}